.intro {
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.box1{
    width:90vw;
    height: 30vh;
    background: rgba(240, 248, 255, 0.452);
    place-self:center;
    position: relative;
    top:20vh;
    border-radius: 40px;
}
.box2{
    width:90vw;
    height: 30vh;
    background: rgba(240, 248, 255, 0.452);
    place-self:center;
    position: relative;
    top:30vh;
    border-radius: 40px;
}